.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  background-color: #21222A;
  margin: 0;
  padding: 30px 25px;
}

.header-image-text {
  font-size: 30px;
  color: #61DAFB;
  margin-right: auto;
  font-weight: 800;
}

.header-title {
  font-size: 35px;
}

.header-image {
  height: 40px;
  margin: 0;
}

main {
  padding: 5% 15%;
  background-image: url("logo192.png");
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: 110% 75%;
}

.main-title {
  font-size: 50px;
  font-weight: 600;
  letter-spacing: -0.05em;
  margin: 0;
}

.list-of-facts {
  padding: 10px 50px;
  margin-top: 30px;
  max-width: 400px;
}

.list-of-facts > li {
  line-height: 15px;
  padding: 10px;
}

.list-of-facts > li::marker {
  color: #61DAFB;
  font-size: 1.4rem;
}